<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>List</title>
</head>
<body>
{% include 'teacher_top.html' %}

<ul>
    {% for teacher in object_list %}
    <li>{{teacher}}{% if teacher.is_chief %} <span>| Alan Şefi |</span>  {% endif %}
        <a href="{% url 'teacher:detail' teacher.pk %}">Görüntüle</a>
        <a href="{% url 'teacher:edit' teacher.pk %}">Düzenle</a>
        <a href="{% url 'teacher:delete' teacher.pk %}">Sil</a>
    </li>
    {% endfor %}
</ul>
</body>
</html>