<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% include 'business_top.html' %}
<p>Adı: {{object.name}}</p>
<p>Adress: {{object.address}}</p>
<p>Email: {{object.email}}</p>
<p>Tel: {{object.phone}}</p>
<p>Aktif/Pasive: {{object.passive}}</p>
<p>Yetkili: {{object.manager}}</p>
<p>Kordinatör Öğretmen: {{object.coordinator}}</p>
<li>
    <a href="{% url 'business:scholarship' object.pk %}">Öğrenci Gönder</a><a
        href="{% url 'business:edit' object.pk %}">Düzenle</a> <a href="{% url 'business:delete' object.pk %}">Sil</a>
</li>
<hr>
<h4>Bu işletmedeki öğrencilerimiz</h4>

<ul>
    {% for ss in object.scholarships.all %}
    <li>{{ss.student.number}} {{ss.student.member.user.get_full_name}}</li>
    {% endfor %}
</ul>


<h4>İşletmenin Stajer İhtiyacı</h4>
<ul>
    {% for qualification in object.qualificaions.all %}
    <li>{% for branch in qualification.branch.all %}<span>{{branch.name}} </span>{%endfor%}- {{ qualification.group}} -
        {{qualification.piece}} Kişi
        <a href="{% url 'business:qualification_detail' object.pk  qualification.pk %}">Görüntüle</a>
        <a href="{% url 'business:qualification_edit' object.pk  qualification.pk %} ">Düzenle</a>
        <a href="{% url 'business:qualification_delete'  object.pk  qualification.pk %} ">Sil</a>
    </li>
    {% endfor %}
</ul>
<li>
    <a href="{% url 'business:qualification_create' object.pk %}">Öğrenci İhtiyacı Ekle</a>
</li>
</body>
</html>