{% extends 'base.html' %}{% load staticfiles %}
{% block styles %}
    <style type="text/css">
        label {
            font-weight: bold
        }
    </style>
{% endblock %}
{% block App %}
    <div class="container">
        <h1 class="text-center mt-4 mb-4">Öğrencinin Düşünceleri</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="btn btn-warning w-100" type="submit">Güncelle</button>
        </form>
    </div>
{% endblock %}
{% block scripts %}
    <script type="text/javascript">
        $('select,input,textarea').addClass('form-control');
        $('input[name=start_date],input[name=finish_date]').attr('type', 'date');
        $('p').addClass('form-group');
    </script>
{% endblock %}